*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   scroll-behavior: smooth;
}

body{
    overflow-x: hidden;
}
header{
    width: 100%;
    height: 16vh;
    border: 1px solid rgba(128, 128, 128, 0.342);
   
    font-family: sans-serif;
}

nav{
    width: 100%;
    height: 100px;
    background: white;
    color: black;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.LOGO{
    font-size:2em;
    letter-spacing: 2px;
    margin-right: 20px;
}

.menu a{
    text-decoration: none;
    color: black;
    padding: 5px 10px;
    font-size: 14px;
    margin-right: 10px;
}

.menu a:hover{
    background-color: rgba(150, 148, 148, 0.678);
}

.button1 a{
    text-decoration: none;
    color: rgb(250, 246, 246);
    padding: 5px 10px;
    font-size: 16px;
    background-color: indianred;
    border-radius: 20px;
    padding: 10px;
}   

.icons a{
    padding: 5px 5px;
    padding-left: 10px;
}

.paragraph1{
    margin-top: 10%;
  font-size: 60px;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  padding-left: 120px;
}

.paragraph2{
    padding-left: 120px;
    padding-top: 10px;
    color: rgb(131, 130, 130);
}

.get{
    padding-top: 40px;
    padding-left: 120px;
}
.get a{
    text-decoration: none;
    font-size: 22px;
    border-radius: 20px;
    background: blue;
    color: white;
    padding: 10px;
}

.get img{
    position: relative;
    top: 17px;
    cursor: pointer;
}



.get p{
    position: relative;
    left: 180px;
    bottom: 20px;
    color: red;
}

.IMG{
    margin-top: 10%;
    float: right;
    padding-right: 20px;
}

.line{
    margin-top: 10%;
    border: 1px solid rgba(128, 128, 128, 0.377);
}

.sol{
    margin-top: 10em;
  padding-left: 60em;
  font-size: 10px;
  color: gray;
  margin-bottom: 10px;
}

.Mission{
    padding-left: 25em;
    font-size: 20px;
    font-weight: bold;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.Mission span{
    padding-left: 4em;
    font-size: 20px;
    font-weight: bold;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

h4{
    font-size: 18px;
}

h5{

    margin-top: 20px;
    font-size: 14px;
}

.boxes{
    margin-left: 100px;
    width: 80%;
    height: 100px;
    background: white;
    color: black;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: relative;
}

.box1{
    margin-top: 250px;
    margin-right: 10px;
    padding: 50px;
    align-items: center;
    text-align: center;
    border: 1px solid black;
    border-radius: 12px;
}
.box1 p{
    margin-top: 20px;
    color: gray;
}
.box1 img{
    margin-top: 20px;
}

.box2{
    margin-top: 250px;
    padding: 50px;
    margin-right: 10px;
    align-items: center;
    background-color: red;
    text-align: center;
    color: white;
    border: 1px solid black;
    border-radius: 12px;
}
.box2 p{
    margin-top: 20px;
    color: white;
}.box2 img{
    margin-top: 20px;
}



.box3{
    margin-top: 250px;
    padding: 57px;
    
    margin-right: 10px;
    align-items: center;
    text-align: center;
    border: 1px solid black;
    border-radius: 12px;
}
.box3 p{
    margin-top: 20px;
    color: gray;
}
.box3 img{
    margin-top: 20px;
}


.box4{
    margin-top: 250px;
    padding: 50px;
    align-items: center;
    text-align: center;  
    border: 1px solid black;
    border-radius: 12px; 
}
.box4 p{
    margin-top: 20px;
    color: gray;
}
.box4 img{
    margin-top: 20px;
}


.Paras{
    position: relative;
   margin-top:300px;
   padding-left: 700px;
}

.IMG2{
    margin-top: 350px;
    float: left;
}

.Paras h6{
    font-size: 12px;
    color: gray;
}

.Paras h2{
    font-size: 40px;
}

.Paras p{
    color: gray;
    margin-top: 20px;
}

.par-a a{
position: relative;
  top: 20px;
  text-decoration: none;
  background: blue;
  color: white;
  border-radius: 30px;
  padding: 10px;
}

.img2{
    border: 1px solid rgba(128, 128, 128, 0.301) ;
    margin-top: 15%;
}

.img2 img{
    margin-right: 13%;
    margin-top: 170px;
    float: right;
}

.Paras2{
    margin-top: 220px;
    margin-left: 10%;
}

.Paras2 h6{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: gray; 
}

.Paras2 h2{
    margin-top: 20px;
    font-size: 32px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.Paras2 p{
    margin-top: 20px;
    color: gray;
}

.ABC{
    margin-top: 8%;
    margin-left: 10%;
}

.abc1 h2{
  position: relative;
  bottom: 60px;
  left: 70px;
}

.abc1 p{
    position: relative;
  bottom: 50px;
  left: 70px;
  color: gray;
}

.abc2 h2{  
    position: relative;
    bottom: 60px;
    left: 70px;
}

.abc2 p{
        position: relative;
  bottom: 50px;
  left: 70px;
  color: gray;
}

.DEF{
    margin-top: 10%;
    
}

.def1 h5{
    margin-left: 10%;
    color: gray;
    text-transform: uppercase;
}

.def1 h2{
    margin-left: 10%;
    font-size: 2.2em;
}

.IMAGES{
    margin-top: 30px;
    display: flex;
    justify-content: space-evenly;
}

.IMAGES img{
    width: 22.5vw;
   
   
}

.GHI{
   
    margin-top: 5%;
    height: 60vh;
}

.ghi1{
    float: right;
    position: relative;
    bottom: 1px;
}

.ghi2 h5{
    margin-left: 20%;
    font-size: 15px;
    color: gray;
    text-transform: uppercase;
}

.ghi2 h2{
    margin-left: 20%;
    margin-top: 20px;
    font-size: 36px;
}

.ghi2 p{
    margin-left: 20%;
    margin-top: 20px;
    color: gray;
}

.ghi3 a{
    margin-left: 20%;
    text-decoration: none;
    background: rgb(180, 8, 233);
    color: white;
    border-radius: 40px;
    padding: 10px;
    position: relative;
    top: 27px;
}

.contact a{
    margin-left: 35%;
    color: red;
    border-radius: 40px;
    text-decoration: none;
    border: 1px solid red;
    padding: 10px;
    position: relative;
    top: 6px;
}



.jkl1{
 
    position: relative;
    margin-top: 10px;
    text-align: center;
}

.jkl1 h4{
    margin-left: 8%;
    color: gray;
    text-transform: lowercase;
}

.jkl1 h1{
    margin-left: 8%;
}

.MNO{
    display: flex;
    justify-content: space-evenly;
    margin-top: 5%;
}
.MNO button:hover{
background-color: red;
color: white;
}

.mno1{
   
    text-align: center;
}

.mno1 button{
    border-radius: 50px;
    padding: 6px;
    color: red;
    background: white;
}

.mno1 h2{
    margin-top: 8px;
}
.mno1 p{
    margin-top: 15px;
    color: gray;
}
.mno1 img{
   margin-top: 16px;
}

.mno2{
    text-align: center;
}
.mno2 button{
    border-radius: 50px;
    padding: 6px;
    color: red;
    background: white;
}
.mno2 h2{
    margin-top: 8px;
}
.mno2 p{
    margin-top: 15px;
    color: gray;
}
.mno2 img{
    margin-top: 16px;
}

.mno3{
    text-align: center;
}
.mno3 button{
    border-radius: 50px;
    padding: 6px;
    color: red;
    background: white;
}
.mno3 h2{
    margin-top: 8px;
}
.mno3 p{
    margin-top: 15px;
    color: gray;
}
.mno3{
    margin-top: 16px;
}

.PQR{
    text-align: center;
    margin-top: 6%;
}
#texts h3{
    color: gray;
    margin-bottom: 4px;
}
#texts h1{
    font-size: 5.5vh;
    font-weight: bold;
    font-weight: bolder;
    
}

.Updates{
   
    margin-top : 10%;
    display: flex;
    justify-content: space-around;

}
.Updates h5{
    color: gray;
}
.Updates h2{
    margin-top: 14px;
    font-size: 26px;
}
.Updates p{
    margin-top: 16px;
}
.Updates span{
    color: red;
}
.Updates section{
    justify-content: space-evenly;
}

footer{
    margin-top: 4%;
    width: 100vw;
    height: auto;
    padding:7vw 15vw 4vw 15vw;
    background-color: rgb(20, 2, 43);
    display: flex;
    justify-content: space-between;
}

/* footer column */
.footer_column{
    width: 17.5vw;
}
.column2{
    margin-left: 4vw;
}
/* footer logo */
.footer_logo{
    position: relative;
    bottom: 1vw;
}
.footer_logo img{
    position: relative;
    top: 0.5vw;
    width: 2vw;
    height: 2vw;
    margin-right: 1vw;
}
.footer_logo > h2{
    font-size: 1.1vw;
    color: white;
    font-weight: 100;
}
.footer_column > h3{
    font-size: 1vw;
    color: white;
    margin-bottom: 1.5vw;
}
.footer_column >p{
    margin: 1vw 0 2vw 0;
    color: silver;
    font-size: 1vw;
}
.footer_column i{
    margin-top: 0.5vw;
    cursor: pointer;
    font-size: 1.3vw;
    color: silver;
    padding: 0.4vw;
    width: 2vw;
    height: 2vw;
    border-radius: 50%;
}
.footer_column i:hover{
    color: white;
    background-color:rgb(255, 39, 80) ;
}
.footer_column ul > li{
    list-style-type: none;
    margin: 0.5vh 0 ;
}
.footer_column ul > li > a{
    text-decoration: none;
    color: silver;
    font-size: 0.9vw;
}

/*hovers */

img:hover{
    transform: scale(1.05);
    background-color:rgb(255, 39, 90);
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.587);
}

a:hover{
    border: 0.15vw solid rgb(255, 39, 80);
    background-color: white;
    color: black;
    transform: scale(1.05);
}

